
  <tbody>
    <tr>
        <ul class="list-group">
        <% @todos.each do |todo| %>
          <li class="list-group-item">
            <%= todo.description %>

            <%= link_to 'show', todo_path(todo), class:"btn btn-success" %>
            <%= link_to 'edit', todos_edit_path(todo), class:"btn btn-warning" %>
            <%= link_to 'new todo', todos_new_path(todo),class:"btn btn-primary"%>
            <%= link_to 'complete', todos_complete_path(todo), class: "btn btn-info" %>

          </li>
        <%end %>
        </ul>
    </tr>
  
  </tbody>
